<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Shelter Finder</title>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 200px;
      }
      /* Optional: Makes the sample page fill the window. */
      
    </style>

  </head>
  <body>
    <div class="container">


      <!-- ============ -->
      <h1>Find a shelter</h1>

      <div class="row">
        <div class="col-sm-10">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
            </div>
          </form>
        </div>

        <div class="col-sm-2">
          <button type="search" class="btn btn-primary">Search</button>
        </div>
      </div>



      <!-- ============ -->

      

      <div class="row">
        <div class="col-sm-12">
          {% if address %}
            {% if found %}

            <div class="alert alert-success" role="alert">
              Found address: {{ location.address }}
            </div>

            {% else %}
            <div class="alert alert-danger" role="alert">
              Couldn't find address: {{ address }}
            </div>

            {% endif %}
          {% endif %}


          {% with %}
            {{map.html}}
            {{map.js}}
          {% endwith %}

          {% if address %}
            {% if found %}
            
            
            {{ df.to_html(index=False, escape=False, classes=["table", "table-bordered", "table-striped", "table-hover"]) | safe }}

            
            {% endif %}

          {% endif %}
        </div>

        
      </div>

      

    </div>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- <script>
  
      function initMap() {
       var shelters = [
          {
            "name": "Domestic Violence Shelter - The Open Gate",
            "address": "2901 Market St, Wilmington, NC 28401, USA",
            "lat": 34.235848,
            "long": -77.943268,
            "url": "http://www.domesticviolence-wilm.org/"
          },
          {
            "name": "Shelter for Battered Women",
            "address": "600 E 5th St, Charlotte, NC 28202, USA",
            "lat": 35.22291,
            "long": -80.835917,
            "url": "http://www.domesticviolence-wilm.org/"
          },
          {
            "name": "Coastal Women's Shelter",
            "address": "1333 S Glenburnie Rd, New Bern, NC 28562, USA",
            "lat": 35.105613,
            "long": -77.099946,
            "url": "http://www.domesticviolence-wilm.org/"
          },
          {
            "name": "Onslow Women's Center Inc",
            "address": "226 New Bridge St, Jacksonville, NC 28540, USA",
            "lat": 34.749013,
            "long": -77.4196088,
            "url": "http://www.domesticviolence-wilm.org/"
          }
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{location.latitude}}, lng: {{location.longitude}}},
          zoom: 11
        });

        for (var i in shelters){
  
          var shelterCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat: shelters[i].lat, lng: shelters[i].long},
            radius: 10
          });
        }


      }
    </script> -->

   <!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_jsi5AzwyTvBQNX4teISdvQ-T5r9YIJA"
    async defer></script>

    <script type="text/javascript">
      window.appConfig = {
        debug: {% if env == 'development' %}true{% else %}false{% endif %},
        location: {{ location }}
      }
    </script>

    <script src="{{url_for('static', filename='script.js')}}"></script> -->




    
   
  </body>
</html>